@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @apply bg-zinc-900 text-white;
}
